<ion-content>

  <ion-button color="primary" fill="clear" expand="block" shape="round" (click)="overwrite()">
    <ion-icon size="small" name="save"></ion-icon>
    <p>Overwrite Bookmark</p>
  </ion-button>

  <ion-button color="primary" fill="clear" expand="block" shape="round" (click)="edit()">
    <ion-icon size="small" name="create"></ion-icon>
    <p>Edit Bookmark</p>
  </ion-button>

  <ion-button color="danger" fill="clear" expand="block" shape="round" (click)="delete()">
    <ion-icon size="small" name="trash"></ion-icon>
    <p>Delete Bookmark</p>
  </ion-button>

</ion-content>