@import '../../styles/global-style';
@import '../../styles/text-and-fonts';

@media only screen and (min-width: $LARGE_WINDOW_WIDTH + 200px) {
  .page-borders {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (min-width: $LARGE_WINDOW_WIDTH + 400px) {
  .page-borders {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.header-toolbar {
  border-bottom: 1px solid !important;
  border-bottom-color: var(--ion-color-light) !important;
  --min-height: 64px;
}

.header-back-button-icon {
  font-size: 24px;
}

.header-label {
  @extend .header-4-text;
}

.not-a-button {
  pointer-events: none;
}