@import '../../../styles/text-and-fonts';

.task-container {
  padding: 0;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.task-container:hover .task-inner {
  background: linear-gradient(129deg, #8DC8E5 0%, #41B6F0 100%) !important;
}

.task-inner {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 20px 20px;
  padding-right: 40px;
  margin: 0;
  background: linear-gradient(129deg, #41B6F0 0%, #8DC8E5 100%) 
    no-repeat 50% 50% / 100% 100%;
  color: var(--ion-color-tertiary);
}

.challenge-completed {
  pointer-events: none;
}

p {
  margin: 0;
  text-align: start;
}

.alarm-item {
  --padding-start: 0;
}

.inner-icon {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}