@import '../../styles/text-and-fonts';

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.delimiter {
  padding: 0 10px;
  padding-top: 7px;
}

ion-datetime {
  @extend .basic-text;
  contain: content;
  position: relative;
  padding: 0;
}